.img{
    /* height: 10px; */
    width: 300px;
}

.img3 {
    height: 50px;
    width: 200px;
}

.img2 {
    height: 500px;
    width: 500px;
    align-items: center;
        justify-content: center;
        display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
}

.container h4 {
    text-align: center !important;
    margin-top: 100px;
    margin-bottom: 50px;
}
.container h1 {
    text-align: center !important;
}

.row-center{
    margin-bottom: 50px;
    display: block;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 100px;
    justify-content: center;
    padding: 10px;
}