.img{
    /* height: 10px; */
    width: 300px;
}

.container h4 {
    text-align: center !important;
    margin-top: 100px;
    margin-bottom: 50px;
}

.row-center{
    margin-bottom: 50px;
    display: block;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 100px;
    justify-content: center;
    padding: 10px;
}